body {
    font-family: Arial, sans-serif;
    margin: 2em;
    background-color: #1f1f1f;
}

h1, h2 {
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin: 0.5em 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}